<!-- <p>speakerdashboard works!</p> -->

<!-- <p>Speaker Email Id:{{speaker.speakeremailid}}</p>
<p>Speaker Name:{{speaker.speakername}}</p>
<p>Speaker Mobile:{{speaker.contactnumber}}</p>
<p>Speaker City:{{speaker.city}}</p>
<p>Event Assigned:{{speaker.event}}</p>
<p>Number participants:{{speaker.numberofparticipants}}</p>
<p>Feedback:{{speaker.Feedback}}</p> -->


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href="speakerdashboard.component.css">
<!--===============================================================================================-->
</head>
<div class="background">

	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table >
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Speaker Email Id</th>
									<th class="cell100 column2">Speaker Name</th>
									<th class="cell100 column3">Speaker Mobile</th>
									<th class="cell100 column4">Speaker City</th>
									<th class="cell100 column5">Event Assigned</th>
                                    <th class="cell100 column6">Number participants</th>
                                    <th class="cell100 column7">Feedback</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table >
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">{{speaker.speakeremailid}}</td>
									<td class="cell100 column2">{{speaker.speakername}}</td>
									<td class="cell100 column3">{{speaker.contactnumber}}</td>
									<td class="cell100 column4">{{speaker.city}}</td>
									<td class="cell100 column5">{{speaker.event}}</td>
                                    <td class="cell100 column6">{{speaker.numberofparticipants}}</td>
                                    <td class="cell100 column7">{{speaker.Feedback}}</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div>
			</div>
		</div>
	</div> 
</div>
</html>